<div class="quantity" role="cell">
    <div class="quantity-wrapper">

    <span>{{ 'quantity: ' | escape }}</span>

      <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}" > 
        {{ '-' | escape }}
      </a>

      <input class="cart-quantity-input" data-ajax-cart-quantity-input="{{ forloop.index }}" value="{{ item.quantity }}" type="number" />
      
      <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}" > 
        {{ '+' | escape }}
      </a>

    </div>
  </div>