<div class="homepage-hero">
  {% style %}
  @keyframes topLeftRounder {
    0% { margin-left: 0%; margin-top: 0%; }
    25% { margin-left: 0%; margin-top: 4%; }
    50% { margin-left: 0%; margin-top: 5%; }
    75% { margin-left: 3%; margin-top: 3%; }
}

@keyframes topRightRounder {
    0% { margin-right: 0%; margin-top: 0%; }
    25% { margin-right: 0%; margin-top: 4%; }
    50% { margin-right: 0%; margin-top: 6%; }
    75% { margin-right: 3%; margin-top: 3%; }
}

@keyframes bottomLeftRounder {
    0% { margin-left: 0%; margin-bottom: 0%; }
    25% { margin-left: 0%; margin-bottom: 3%; }
    50% { margin-left: 0%; margin-bottom: 7%; }
    75% { margin-left: 4%; margin-bottom: 4%; }
}

@keyframes bottomRightRounder {
    0% { margin-right: 0%; margin-bottom: 0%; }
    25% { margin-right: 0%; margin-bottom: 4%; }
    50% { margin-right: 0%; margin-bottom: 4%; }
    75% { margin-right: 4%; margin-bottom: 4%; }
}

@keyframes cloudRounder {
    0% { margin-right: 0%; margin-top: 0%; }
    25% { margin-right: 1%; margin-top: 5%; }
    50% { margin-right: 0%; margin-top: 4%; }
    75% { margin-right: 3%; margin-top: 3%; }
}

@font-face {
  font-family: 'MingLiU';
  src: url('https://cdn.shopify.com/s/files/1/2315/8873/files/MingLiU.eot?v=1697050078');
  src: url('https://cdn.shopify.com/s/files/1/2315/8873/files/MingLiU.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.shopify.com/s/files/1/2315/8873/files/MingLiU.woff2?v=1697050077') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/2315/8873/files/MingLiU.woff?v=1697050077') format('woff');
  font-weight: normal;
  font-style: normal;
}

input[type="password"] {
    outline: 0;
    border: 1px solid #000000;
    display: block;
    background-color: #ffffff;
    padding: 2px 4px;
    margin: 20px 0;
    width: 80%;
}

input[type="password"]:-webkit-autofill {
    -webkit-box-shadow:200px 200px 100px white inset; 
    box-shadow:200px 200px 100px white inset;
    background-color: #ffffff !important;
}

input[type="submit"] {
    border: 1px solid #000000;
    background: #ffffff;
    color: #000000;
    border-radius: 0px;
    font-family: 'MingLiU';
    padding: 4px 30px;
    display: block;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #000000;
    color: #dd1d1d;
}

label[for="password"] {
    font-size: 14px;
}

.mobile-logo {
    display: none;
}

.homepage-hero {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1em 3vw;

    .hero-image-desktop { display: block; }
    .hero-image-mobile { display: none; }

  form {
    max-width: 500px;
  }

    .hero-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .hero-image-desktop {
        display: block;
    }
    .hero-image-mobile { display: none; }


    .hero-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 999;

        .left {
            
            .hero-logo {
                display: block;
                margin-bottom: 140px;
              
                img {   
                    width: 100%;
                    max-width: 100px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 30px;

                li {
                    width: 100%;
                }
                padding-bottom: 20px;
            }

            .hero-link {
                font-size: var(--12px);
                cursor: pointer;
                text-transform: lowercase;
            }

            .hero-link:hover {
                font-weight: bold;
                text-decoration: underline;
            }

        }

        .right {
            padding-right: var(--side-padding);
            position: relative;

            .cloud-holder {
                top: -20vh;
                position: absolute;
                left: -3vw;
                z-index: 8;
  
                img {
                    width: 100%;
                    max-width: 100px;
                }
            }

            .floating-media {
                position: absolute;
                object-fit: cover;
                transition: 0.2s;
            }

            #cloud {
                animation: cloudRounder 9s infinite linear;
            }

            #top-left {
                top: -38vh;
                right: 34vw;
                z-index: 3;
                max-width: 180px;
                animation-delay: 0;
                display: block;
                animation: topLeftRounder 6s linear infinite;

                img {
                    width: 100%;
                    max-width: 180px;
                }
                video {
                    width: 100%;
                    max-width: 180px;
                }
            }


            #top-right {
                top: -36vh;
                right: 16vw;
                max-width: 190px;
                z-index: 4;
                animation-delay: 0;
                display: block;
                animation: topRightRounder 6s linear infinite;

                img {
                    width: 100%;
                    max-width: 190px;
                }
                video {
                    width: 100%;
                    max-width: 190px;
                }
            }

            #bottom-left {
                bottom: -37vh;
                left: 5vw;
                max-width: 180px;
                z-index: 2;
                animation-delay: 0;
                display: block;
                animation: bottomLeftRounder 7s infinite linear;

                img {
                    width: 100%;
                    max-width: 180px;
                }
            }

            #bottom-right {
                bottom: -42vh;
                right: 21vw;
                max-width: 100px;
                z-index: 2;
                animation-delay: 0;
                display: block;
                animation: bottomRightRounder 6s infinite linear;

                img {
                    width: 100%;
                    max-width: 100px;
                }
            }
        }

    }

    ul.hero-footer-links {
        position: absolute;
        bottom: 7vh;
        right: 40px;
        z-index: 4;
        text-transform: lowercase;
        display: flex;
        flex-direction: row;
        gap: 12px;
        a {
            text-decoration: none;
            font-size: var(--12px);
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

/*
----------------------------------------------------------------
*/
/* @media screen and (max-width: 900px) {

    .homepage-hero {
        .hero-wrapper {
        z-index: 999;
            .right {
                #top-left {
                    top: -30vh;
                    left: 10%;
                    max-width: 170px;
                    //animation-delay: 300;
                    img {
                        max-width: 200px;
                    }
                }
            
                #top-right {
                    top: -30vh;
                    max-width: 170px;
                    right: 11vw;
                    //animation-delay: 300;
                    
                }
            
                #bottom-left {
                    bottom: -17vh;
                    left: 1vw;
                    max-width: 140px;
                    //animation-delay: 300;
                    z-index: 2;
                }
            
                #bottom-right {
                    bottom: -22vh;
                    right: 32%;
                    //animation-delay: 300;
                }
            
                #cloud {
                    z-index: 99;
                    right: 5vw;
                    width: 100%;
                    //animation-delay: 300;
                }
            }
        }
    }

} */


    .hero-background {
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: auto;
      object-fit: cover;
      object-position: center center;
    }

    .hero-background--desktop {

      display: block;
      height: 100%;
      min-width: 100%;
    }

    .hero-background--mobile {
      display: none;
      min-height: 100%;
      width: 100%;
      
    }




    
  {% endstyle %}

  <div id="hero-wrapper" class="hero-wrapper">

    <div class="mobile-logo">
        <img src="https://cdn.shopify.com/s/files/1/2315/8873/files/logo.svg?v=1693442416" alt="{{ shop.name }}" />
    </div>

    <div class="left">

        <div class="hero-logo">
            <img id="default-hero-logo" src="https://cdn.shopify.com/s/files/1/2315/8873/files/logo.svg?v=1693442416" alt="{{ shop.name }}" />
        </div>

        {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password">{{ 'enter password' | downcase | escape }}</label>
            <input type="password" name="password" id="password" autofocus="" />
            <input class="btn" name="commit" type="submit" value="{{ 'submit' | downcase | escape }}" />
        {% endform %}

    </div>

    <div class="right movable-elements-wrapper">

        {% if settings.password_page_assets == true %}
            <div
                id="top-left"
                data-value="4"
                class="top-left floating-media element movable">
                <img src="https://siberia-hills.myshopify.com/cdn/shop/files/topleft_video.gif?v=1693422866&width=180" alt="" />
            </div>

            <div
                id="top-right"
                data-value="1"
                class="top-right floating-media element movable">
                <img src="https://siberia-hills.myshopify.com/cdn/shop/files/siberia_2--smaller.gif?v=1693442474&width=190" alt="" />
            </div>

            <div
                id="bottom-left"
                data-value="3"
                class="bottom-left floating-media element movable">
                <img src="https://siberia-hills.myshopify.com/cdn/shop/files/BOTTOMLEFT_IMAGE.png?v=1683917217&width=180" alt="" />
            </div>

            <div
                id="bottom-right"
                data-value="2"
                class="bottom-right floating-media element movable">
                <img src="https://siberia-hills.myshopify.com/cdn/shop/files/BOTTOMRIGHT_IMAGE.png?v=1683917234&width=100" alt="" />
            </div>

            <div id="cloud" class="cloud-holder">
                <img style="width: 80%" src="https://siberia-hills.myshopify.com/cdn/shop/files/ezgif.com-optimize.gif?v=1693442523" alt="" />
            </div>
        {% endif %}

    </div>

  </div>

  <img class="hero-background--desktop hero-background" src="https://cdn.shopify.com/s/files/1/2315/8873/files/BG_WIDE.png?v=1684169364" rel="preload" />
  <!-- <img class="hero-background--mobile hero-background" src="https://siberia-hills.myshopify.com/cdn/shop/files/BG_MOBILE.png?v=1684169360&width=600" rel="preload" /> -->

  
  
</div>