<div class="product-pagination new">

<a href="{{ settings.featured_collection.url }}" title="{{ 'Back to all' | escape }}">
  {{ 'back to all' | escape | downcase }}
</a>

{% for collect in product.collections %}

  {% case collect.title %}

    {% when 'all' %}
      {% assign arr = collect.products | map: 'url' %}
      <ul>
        {% for prod in collect.products %}
          <li>
          {% assign next = '' %}
          {% if product.title == prod.title %}
            {% assign plusOne = forloop.index0 | plus: 1 %}
            {% if plusOne > forloop.length %}
              {% assign next = 0 %}
            {% else %}
              {% assign next = forloop.index0 | plus: 1 %}
            {% endif %}
            
            {% if forloop.index >= forloop.length %}
            last
            {% else %}
              <a class="next-product" href="{{ arr[next] }}" title="Next">
                {{ 'next' | escape | downcase }}</a>
            {% endif %}
            
          {% endif %}
          </li>

        {% endfor %}
      </ul>
  {% endcase %}
{% endfor %}

</div>