<table class="size-chart-table size-chart-dress">
    <thead>
      <th class="label">{{ 'Label:' | escape }}</th>
      
      {% if product.metafields.sizechart.size_chart_dress.value.bust_xs != blank or product.metafields.sizechart.size_chart_dress.value.waist_xs != blank or product.metafields.sizechart.size_chart_dress.value.hips_xs != blank %}
        <th>  
          {{ 'XS' | escape }}
        </th>
      {% endif %}
      
      {% if product.metafields.sizechart.size_chart_dress.value.bust_s != blank or product.metafields.sizechart.size_chart_dress.value.waist_s != blank or product.metafields.sizechart.size_chart_dress.value.hips_s != blank %}
        <th> 
          {{ 'S' | escape }}
        </th>
      {% endif %}

      {% if product.metafields.sizechart.size_chart_dress.value.bust_m != blank or product.metafields.sizechart.size_chart_dress.value.waist_m != blank or product.metafields.sizechart.size_chart_dress.value.hips_m != blank %}
        <th>
          {{ 'M' | escape }}
        </th>
      {% endif %}
    
      {% if product.metafields.sizechart.size_chart_dress.value.bust_l != blank or product.metafields.sizechart.size_chart_dress.value.waist_l != blank or product.metafields.sizechart.size_chart_dress.value.hips_l != blank %}
        <th>
          {{ 'L' | escape }}
        </th>
      {% endif %}
    
      {% if product.metafields.sizechart.size_chart_dress.value.bust_xl != blank or product.metafields.sizechart.size_chart_dress.value.waist_xl != blank or product.metafields.sizechart.size_chart_dress.value.hips_xl != blank %}
        <th>
          {{ 'XL' | escape }}
        </th>
      {% endif %}
    
    </thead>
    <tbody>
      {% if product.metafields.sizechart.size_chart_dress.value.bust_s != blank %}
        <tr id="bust">
          <td class="label">{{ 'Bust:' | escape }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_xs }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_s }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_m }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_l }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_xl }}</td>
        </tr>
      {% endif %}
      {% if product.metafields.sizechart.size_chart_dress.value.waist_s != blank %}
        <tr id="waist">
          <td class="label">{{ 'Waist:' | escape }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_xs }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_s }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_m }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_l }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_xl }}</td>
        </tr>
      {% endif %}
      {% if product.metafields.sizechart.size_chart_dress.value.hips_s != blank %}
        <tr id="hips">
          <td class="label">{{ 'Hips:' | escape }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_xs }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_s }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_m }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_l }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_xl }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>