<table class="size-chart-table size-chart-boots">
    <thead>
      <th class="label">{{ 'size:' | escape }}</th>
        {% if product.metafields.sizechart.size_chart_boots.value.boot-39 != blank %}
            <th>{{ '39' | escape }}</th>
        {% endif %}
        {% if product.metafields.sizechart.size_chart_boots.value.boot-40 != blank %}
            <th>{{ '40' | escape }}</th>
        {% endif %}
        {% if product.metafields.sizechart.size_chart_boots.value.boot-41 != blank %}
            <th>{{ '41' | escape }}</th>
        {% endif %}
        {% if product.metafields.sizechart.size_chart_boots.value.boot-42 != blank %}
            <th>{{ '42' | escape }}</th>
        {% endif %}
        {% if product.metafields.sizechart.size_chart_boots.value.boot-43 != blank %}
            <th>{{ '43' | escape }}</th>
        {% endif %}
        {% if product.metafields.sizechart.size_chart_boots.value.boot-44 != blank %}
            <th>{{ '44' | escape }}</th>
        {% endif %}
        {% if product.metafields.sizechart.size_chart_boots.value.boot-45 != blank %}
            <th>{{ '45' | escape }}</th>
        {% endif %}
        {% if product.metafields.sizechart.size_chart_boots.value.boot-46 != blank %}
            <th>{{ '46' | escape }}</th>
        {% endif %}
    </thead>
    <tbody>
      {% if product.metafields.sizechart.size_chart_boots.value.boot-39 != blank 
            or product.metafields.sizechart.size_chart_boots.value.boot-40 != blank 
            or product.metafields.sizechart.size_chart_boots.value.boot-41 != blank 
            or product.metafields.sizechart.size_chart_boots.value.boot-42 != blank 
            or product.metafields.sizechart.size_chart_boots.value.boot-43 != blank
            or product.metafields.sizechart.size_chart_boots.value.boot-44 != blank
            or product.metafields.sizechart.size_chart_boots.value.boot-45 != blank
            or product.metafields.sizechart.size_chart_boots.value.boot-46 != blank %}
        <tr id="width">
          <td class="label">{{ 'Width:' | escape }}</td>
            {% if product.metafields.sizechart.size_chart_boots.value.boot-39 != blank %}
                <td>{{ product.metafields.sizechart.size_chart_boots.value.boot-39 }}</td>
            {% endif %}
            {% if product.metafields.sizechart.size_chart_boots.value.boot-40 != blank %}
                <td>{{ product.metafields.sizechart.size_chart_boots.value.boot-40 }}</td>
            {% endif %}
            {% if product.metafields.sizechart.size_chart_boots.value.boot-41 != blank %}
                <td>{{ product.metafields.sizechart.size_chart_boots.value.boot-41 }}</td>
            {% endif %}
            {% if product.metafields.sizechart.size_chart_boots.value.boot-42 != blank %}
                <td>{{ product.metafields.sizechart.size_chart_boots.value.boot-42 }}</td>
            {% endif %}
            {% if product.metafields.sizechart.size_chart_boots.value.boot-43 != blank %}
                <td>{{ product.metafields.sizechart.size_chart_boots.value.boot-43 }}</td>
            {% endif %}
            {% if product.metafields.sizechart.size_chart_boots.value.boot-44 != blank %}
                <td>{{ product.metafields.sizechart.size_chart_boots.value.boot-44 }}</td>
            {% endif %}
            {% if product.metafields.sizechart.size_chart_boots.value.boot-45 != blank %}
                <td>{{ product.metafields.sizechart.size_chart_boots.value.boot-45 }}</td>
            {% endif %}
            {% if product.metafields.sizechart.size_chart_boots.value.boot-46 != blank %}
                <td>{{ product.metafields.sizechart.size_chart_boots.value.boot-46 }}</td>
            {% endif %}
        </tr>
      {% endif %}
    </tbody>
</table>