<div class="marquee-holder">
  <div class="wrapper">
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
  </div>
</div>