<div class="throne--navbar">
  <div class="navbar-wrapper">
    <div class="logo">
      <a href="{{ '/' | escape }}" title="Home">
        {% if site.settings.navbar_logo %}
          <img src="{{ site.settings.navbar_logo | image_url: width: 700 }}" alt="Siberia">
        {% else %}
          <img src="{{ 'logo.svg' | asset_url }}" alt="Siberia">
        {% endif %}
      </a>
    </div>
    <div class="hamburger" data-ajax-cart-toggle-class-button="js-my-cart-open">
      <img src="{{ 'cart.gif' | asset_url }}" alt="Menu">
      <span class="cart-counter">
        {{ '(' | escape }}<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>{{ ')' | escape }}
      </span>
    </div>
  </div>
</div>