<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<div class="cart-overlay my-floating-cart" data-displayed="true">

  <style>
    .my-floating-cart { display: none; }

    /* Show the floating cart if the 'js-my-cart-open' CSS class exists */
    .js-my-cart-open .my-floating-cart { display: block; }
  </style>

  <div class="cart-header">
    <div class="cart-name">
      <h1>{{ 'Cart' | escape }}</h1>
    </div>
  </div>

  <div class="cart-overlay-wrapper" data-ajax-cart-section>
    {%- if cart == empty -%}

      <div class="empty-cart">
        <div class="cart-drawer__warnings center">
          <div class="cart-drawer__empty-content">
            <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>

            <div class="continue-shopping">
              <a href="{{ routes.all_products_collection_url }}">
                {{ 'general.continue_shopping' | t }}
              </a>
            </div>

            {%- if shop.customer_accounts_enabled and customer == null -%}
              <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
              <p class="cart__login-paragraph">{{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}</p>
            {%- endif -%}
          </div>
        </div>
      </div>

    {%- else -%}

      {% comment %}
        ITEMS 
      {% endcomment %}
      <div class="cart">
        <cart-drawer-items class="cart-items-holder desktop {% if cart == empty %}is-empty{% endif %}" data-ajax-cart-section> 

          <form id="add-to-cart-form" action="{{ routes.cart_url }}" method="post">

            <ul class="cart-items" data-ajax-cart-section>
              {%- for item in cart.items -%}

                {% if item.quantity > 0 %}
                  <li id="item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                    <div class="cart-item-wrapper">

                      {% comment %} 
                        Image
                      {% endcomment %}
                      <div class="image">
                        {% if item.image %}
                          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                          <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"></a>
                          <img
                            class="cart-item__image"
                            src="{{ item.image | image_url: width: 300 }}"
                            alt="{{ item.image.alt | escape }}"
                            loading="lazy"
                            width="150"
                            height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}" />
                        {% endif %}
                      </div>

                      {% comment %} 
                        Product Title
                      {% endcomment %}
                      <div class="product-title">
                        <a href="{{ item.url }}">
                          <span class="vendor">{{ item.product.vendor }}</span>
                          <span class="product">{{- item.product.title | escape -}}</span>
                        </a>
                      </div>

                      {% comment %} 
                        Quantity
                      {% endcomment %}
                      <div class="quantity" role="cell">
                        <div class="quantity-wrapper">

                          <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}" > 
                            {{ '-' | escape }}
                          </a>

                          <input class="cart-quantity-input" data-ajax-cart-quantity-input="{{ forloop.index }}" value="{{ item.quantity }}" type="number" />
                          
                          <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}" > 
                            {{ '+' | escape }}
                          </a>

                        </div>
                      </div>

                      {% comment %} 
                        Size
                      {% endcomment %}
                      <div class="variants size">
                        {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != null -%}

                          {%- if item.product.has_only_default_variant == false -%}
                            {%- for option in item.options_with_values -%}
                              {% case option.name %}

                                {% when 'Size' %}
                                  <span class="product-option">
                                    {{ option.value }}
                                  </span>

                              {% endcase %}
                            {%- endfor -%}
                          {%- endif -%}

                        {%- endif -%}
                      </div>

                      {% comment %} 
                        Color
                      {% endcomment %}
                      <div class="variants color">
                        <div class="color-wrapper">
                          <span class="color-swatch" style="background: {{ item.variant.metafields.custom.display_color.value }}">
                            &nbsp;
                          </span>
                        </div>
                      </div>

                      <div class="delete">
                        <a data-ajax-cart-request-button href="{{ item.url_to_remove }}" rel="{{ item.id }}">
                          {{ 'delete' | escape }}
                        </a>
                      </div>

                    </div>

                    <div class="cart-overlay--ajax-cart-messages" data-ajax-cart-messages="{{ item.key }}"></div>
                  </li>
                {% endif %}
            
              {%- endfor -%}
            </ul>

            <div class="accessibility">
              <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
              <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
                {{ 'accessibility.loading' | t }}
              </p>
            </div>

            <!-- Container for errors -->
            <div class="ajax-messages">
              <div data-ajax-cart-messages="{{ item.key }}"></div>
            </div>

            <div id="CartDrawer-CartErrors" role="alert"></div>
          </form>
        </cart-drawer-items>

        {% comment %}
        --------------------
        ITEMS MOBILE 
        --------------------
        {% endcomment %}
        <div class="cart-items-holder mobile">
          <form id="add-to-cart-form" action="{{ routes.cart_url }}" method="post" data-ajax-cart-section>

            {%- if cart != empty -%}

              <ul class="cart-items" data-ajax-cart-section-scroll>
                {%- for item in cart.items -%}

                  <li id="item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                    <div class="cart-item-wrapper">

                      <div class="image">
                        {% if item.image %}
                          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                          <a
                            href="{{ item.url }}"
                            class="cart-item__link"
                            tabindex="-1"
                            aria-hidden="true"></a>
                          <img
                            class="cart-item__image"
                            src="{{ item.image | image_url: width: 300 }}"
                            alt="{{ item.image.alt | escape }}"
                            loading="lazy"
                            width="150"
                            height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}">
                        {% endif %}
                      </div>

                      <div class="data">

                        <div class="product-title">
                          <a href="{{ item.url }}">
                            <span class="vendor">{{ item.product.vendor }}</span>
                            <span class="product">{{- item.product.title | escape -}}</span>
                          </a>
                        </div>

                        <div class="variants size">
                          {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != null -%}

                            {%- if item.product.has_only_default_variant == false -%}
                              {%- for option in item.options_with_values -%}
                                {% case option.name %}

                                  {% when 'Size' %}
                                    <span class="product-option">
                                      {{ option.value }}
                                    </span>

                                {% endcase %}
                              {%- endfor -%}
                            {%- endif -%}

                          {%- endif -%}
                        </div>

                        <div class="variants color">
                          {%- if item.product.has_only_default_variant == false -%}
                            {%- for option in item.options_with_values -%}
                              {% case option.name %}

                                {% when 'Color' %}
                                <span class="product-option">
                                  {{ option.name }}: {{ option.value -}}
                                </span>

                              {% endcase %}
                            {%- endfor -%}
                          {%- endif -%}
                        </div>

                        <div class="quantity" role="cell">
                          <div class="quantity-wrapper">

                            <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}" > 
                              {{ '-' | escape }}
                            </a>

                            <input class="cart-quantity-input" data-ajax-cart-quantity-input="{{ forloop.index }}" value="{{ item.quantity }}" type="number" />
                            
                            <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}" > 
                              {{ '+' | escape }}
                            </a>

                          </div>
                        </div>

                      </div>

                      <div class="actions">
                        <div class="delete">
                          <a data-ajax-cart-request-button href="{{ item.url_to_remove }}" rel="{{ item.id }}">
                            {{ 'delete' | escape }}
                          </a>
                        </div>
                      </div>

                    </div>

                    <div data-ajax-cart-messages="{{ item.key }}"></div>
                  </li>
                  
                {%- endfor -%}
              </ul>

            {%- endif -%}

            <div class="accessibility">
              <p
                id="CartDrawer-LiveRegionText"
                class="visually-hidden"
                role="status"></p>
              <p
                id="CartDrawer-LineItemStatus"
                class="visually-hidden"
                aria-hidden="true"
                role="status">
                {{ 'accessibility.loading' | t }}
              </p>
            </div>

            <div class="ajax-messages">
              <div data-ajax-cart-messages="{{ item.key }}"></div>
            </div>

            <div id="CartDrawer-CartErrors" role="alert"></div>
          </form>
        </div>

        {% comment %} 
        SUBTOTAL
        {% endcomment %}
        <div class="subtotal">
          <div class="subtotal-wrapper">
            <div class="left">
              <span>{{ 'Subtotal' | escape }}</span>
            </div>
            <div class="right">
              <span>{{ cart.total_price | money_without_trailing_zeros | remove: '$' }}
                <span style="text-transform: uppercase;">{{ shop.currency }}</span>
                </span>
            </div>
          </div>
        </div>


        {% comment %} 
        BUTTONS
        {% endcomment %}
        <div class="buttons" {{ block.shopify_attributes }}>
          <noscript>
            <button
              type="submit"
              class="update-cart"
              form="CartDrawer-Form">
              {{ 'sections.cart.update' | t }}
            </button>
          </noscript>

          {% comment %} <button type="submit" class="checkout-button" name="checkout" form="CartDrawer-Form"  {% if cart == empty %} disabled{% endif %}>
          CHECKOUT ({{ cart.item_count }})
          </button> {% endcomment %}
          <a
            href="/checkout"
            type="submit"
            class="checkout-button"
            name="checkout"
            form="CartDrawer-Form">
            CHECKOUT ({{ cart.item_count }})
          </a>
        </div>
      </div>

    {%- endif -%}

    {% render 'credit-cards' %}

    <div class="cart-disclaimer">
      <p>{{ 'For further details please consult the ' | escape }}<a href="/pages/returns/" title="Return Policy">{{ 'Return Policy' | escape }}</a>
      </p>
    </div>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (! isIE()) 
      return;
    
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>