<li class="item">
    <div class="item-wrapper">

      {% for image in product.media limit: 1 %}
        <div class="image" style="background: url('{{ image | image_url: width: 800 }}'); background-size: cover; background-position: center center;" onclick="window.location='{{ product.url }}';">
        </div>
      {% endfor %}
 
      {% comment %} DATA {% endcomment %}
      <div class="product-data">

        {% render 'indicators', data: product %}
        
        <div class="data">
          <div class="name">
            <a href="{{ product.url }}" title="{{ product.title }}">
              <h3>{{ product.title }}</h3>
            </a>
          </div>
  
          <div class="short-description">
            <a href="{{ product.url }}" title="{{ product.title }}">
              <span>{{ product.metafields.product.short_description.value }}</span>
            </a>
          </div>
        </div>

      </div>

    </div>
  </li>