<div class="throne--navbar">
  <div class="navbar-wrapper">
    <div class="logo">
      <a href="{{ '/' | escape }}" title="Home">
        {% if site.settings.navbar_logo == empty %}
          <img src="{{ 'logo.svg' | asset_url }}" alt="Siberia">          
        {% else %}
          <img src="{{ settings.navbar_logo | image_url: width: 500 }}" alt="Siberia">
        {% endif %}
      </a>
    </div>
    <div class="hamburger" data-ajax-cart-toggle-class-button="js-my-cart-open">
      {% if site.settings.cart_icon == empty %}
        <img src="{{ 'cart.gif' | asset_url }}" alt="{{ 'Menu' | escape }}">
      {% else %}
        <img src="{{ settings.cart_icon | image_url: width: 100 }}" alt="{{ 'Menu' | escape }}">
      {% endif %}
      <span class="cart-counter">
        {{ '(' | escape }}<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>{{ ')' | escape }}
      </span>
    </div>
  </div>
</div>