{% style %}
  .marquee-holder {
    background-color: {{ settings.marquee_background_color }};
  }
  .marquee-holder .box {
    color: {{ settings.marquee_text_color }};
  }
{% endstyle %}

<div class="marquee-holder">
  <div class="wrapper">
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ settings.marquee_content }}</div>
  </div>
</div>