<div class="throne--navbar">
  <div class="navbar-wrapper">
    <div class="logo">
      {% if settings.navbar_logo %}
        <a href="{{ shop.url }}" title="{{ shop.name }}">
          <img id="user-logo" src="{{ settings.navbar_logo | image_url: width: 500 }}" alt="{{ shop.name }}" />        
        </a>
      {% else %}
        <a href="{{ shop.url }}" title="{{ shop.name }}">
          <img id="default-logo" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" /> 
        </a>
      {% endif %}
    </div>

    {% if template.name == 'index' %}
      {% style %}
        .hamburger {
          position: absolute;
          top: 30px;
          right: 10px;
        }
      {% endstyle %}
      <div class="hamburger" data-ajax-cart-toggle-class-button="js-my-cart-open | add">
        {% if settings.cart_icon %}
          <img id="user-icon-cart" src="{{ settings.cart_icon | image_url: width: 100 }}" alt="{{ 'Cart' | escape }}">
        {% else %}
          <img id="default-icon-cart" src="{{ 'cart.png' | asset_url }}" alt="{{ 'Cart' | escape }}">       
        {% endif %}

        <span id="cart-counter" class="cart-counter">
          {{ '(' | escape }}<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>{{ ')' | escape }}
        </span>
      </div>
    {% else %}
      {% style %}
        .hamburger {
          position: relative;
          top: 0;
          right: 0;
        }
      {% endstyle %}
      <div class="hamburger" data-ajax-cart-toggle-class-button="js-my-cart-open | add">
        {% if settings.cart_icon %}
          <img src="{{ settings.cart_icon | image_url: width: 100 }}" alt="{{ 'Cart' | escape }}" />
        {% else %}
          <img src="{{ 'cart.png' | asset_url }}" alt="{{ 'Cart' | escape }}" />
        {% endif %}
        
        <span id="cart-counter" class="cart-counter">
          {{ '(' | escape }}<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>{{ ')' | escape }}
        </span>
      </div>
    {% endif %}
  </div>
</div>