<div class="throne--navbar">
  <div class="navbar-wrapper">
    <div class="logo">
      <a href="{{ '/' | escape }}" title="Home">
        <img src="{{ 'logo.svg' | asset_url }}" alt="Siberia">
      </a>
    </div>
    <div class="hamburger">
      <img src="{{ 'cart.gif' | asset_url }}" alt="Menu">
      <span class="cart-counter">
        {{ '(' | escape }}<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>{{ ')' | escape }}
      </span>
    </div>
  </div>
</div>