<table class="size-chart-table size-chart-dress">
    <thead>
      <th class="label">{{ 'size:' | escape | downcase }}</th>
      
      {% if product.metafields.sizechart.size_chart_dress.value.bust_xxs != blank 
            or product.metafields.sizechart.size_chart_dress.value.waist_xxs != blank
            or product.metafields.sizechart.size_chart_dress.value.hips_xxs != blank %}
        <th>  
          {{ 'XXS' | escape }}
        </th>
      {% endif %}
        
      {% if product.metafields.sizechart.size_chart_dress.value.bust_xs != blank 
            or product.metafields.sizechart.size_chart_dress.value.waist_xs != blank
            or product.metafields.sizechart.size_chart_dress.value.hips_xs != blank %}
        <th>  
          {{ 'XS' | escape }}
        </th>
      {% endif %}
      
      {% if product.metafields.sizechart.size_chart_dress.value.bust_s != blank 
            or product.metafields.sizechart.size_chart_dress.value.waist_s != blank
            or product.metafields.sizechart.size_chart_dress.value.hips_s != blank %}
        <th> 
          {{ 'S' | escape }}
        </th>
      {% endif %}

      {% if product.metafields.sizechart.size_chart_dress.value.bust_m != blank
            or product.metafields.sizechart.size_chart_dress.value.waist_m != blank
            or product.metafields.sizechart.size_chart_dress.value.hips_m != blank %}
        <th>
          {{ 'M' | escape }}
        </th>
      {% endif %}
    
      {% if product.metafields.sizechart.size_chart_dress.value.bust_l != blank 
            or product.metafields.sizechart.size_chart_dress.value.waist_l != blank
            or product.metafields.sizechart.size_chart_dress.value.hips_l != blank %}
        <th>
          {{ 'L' | escape }}
        </th>
      {% endif %}
    
    </thead>
    <tbody>

      {% if product.metafields.sizechart.size_chart_dress.value.bust_xxs != blank
            or product.metafields.sizechart.size_chart_dress.value.bust_xs != blank
            or product.metafields.sizechart.size_chart_dress.value.bust_s != blank
            or product.metafields.sizechart.size_chart_dress.value.bust_m != blank
            or product.metafields.sizechart.size_chart_dress.value.bust_l != blank %}
        <tr id="bust">
          <td class="label">{{ 'bust:' | escape | downcase }}</td>
          {% if product.metafields.sizechart.size_chart_dress.value.bust_xxs != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_xxs }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.bust_xs != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_xs }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.bust_s != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_s }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.bust_m != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_m }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.bust_l != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_l }}</td>
          {% endif %}
        </tr>
      {% endif %}

      {% if product.metafields.sizechart.size_chart_dress.value.waist_xxs != blank
            or product.metafields.sizechart.size_chart_dress.value.waist_xs != blank
            or product.metafields.sizechart.size_chart_dress.value.waist_s != blank
            or product.metafields.sizechart.size_chart_dress.value.waist_m != blank
            or product.metafields.sizechart.size_chart_dress.value.waist_l != blank %}
        <tr id="waist">
          <td class="label">{{ 'waist:' | escape | downcase }}</td>
          {% if product.metafields.sizechart.size_chart_dress.value.waist_xxs != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_xxs }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.waist_xs != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_xs }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.waist_s != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_s }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.waist_m != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_m }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.waist_l != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_l }}</td>
          {% endif %}
        </tr>
      {% endif %}

      {% if product.metafields.sizechart.size_chart_dress.value.hips_xxs != blank 
            or product.metafields.sizechart.size_chart_dress.value.hips_xs != blank 
            or product.metafields.sizechart.size_chart_dress.value.hips_s != blank 
            or product.metafields.sizechart.size_chart_dress.value.hips_m != blank 
            or product.metafields.sizechart.size_chart_dress.value.hips_l != blank %}
        <tr id="hips">
          <td class="label">{{ 'hips:' | escape | downcase }}</td>
          {% if product.metafields.sizechart.size_chart_dress.value.hips_xxs != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_xxs }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.hips_xs != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_xs }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.hips_s != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_s }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.hips_m != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_m }}</td>
          {% endif %}
          {% if product.metafields.sizechart.size_chart_dress.value.hips_l != blank %}
            <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_l }}</td>
          {% endif %}
        </tr>
      {% endif %}

    </tbody>
  </table>