<table class="size-chart-table size-chart-bottoms">
    <thead>
      <tr>
        <th class="label">{{ 'size:' | escape | downcase }}</th>
        <th>{{ 'S' | escape }}</th>
        <th>{{ 'M' | escape }}</th>
        <th>{{ 'L' | escape }}</th>
        <th>{{ 'XL' | escape }}</th>
        <th>{{ 'XXL' | escape }}</th>
      </tr>
    </thead>
    <tbody>
      {% if product.metafields.sizechart.size_chart_bottoms.value.waist_s != blank 
            or product.metafields.sizechart.size_chart_bottoms.value.waist_m != blank 
            or product.metafields.sizechart.size_chart_bottoms.value.waist_l != blank 
            or product.metafields.sizechart.size_chart_bottoms.value.waist_xl != blank 
            or product.metafields.sizechart.size_chart_bottoms.value.waist_xxl != blank %}
        <tr id="width">
          <td class="label">{{ 'waist:' | escape | downcase }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.waist_s }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.waist_m }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.waist_l }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.waist_xl }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.waist_xxl }}</td>
        </tr>
      {% endif %}
      {% if product.metafields.sizechart.size_chart_bottoms.value.length_s != blank 
            or product.metafields.sizechart.size_chart_bottoms.value.length_m != blank 
            or product.metafields.sizechart.size_chart_bottoms.value.length_l != blank 
            or product.metafields.sizechart.size_chart_bottoms.value.length_xl != blank 
            or product.metafields.sizechart.size_chart_bottoms.value.length_xxl != blank %}
        <tr id="length">
          <td class="label">{{ 'length:' | escape | downcase }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.length_s }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.length_m }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.length_l }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.length_xl }}</td>
            <td>{{ product.metafields.sizechart.size_chart_bottoms.value.length_xxl }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>