<table class="size-chart-table size-chart-dress">
    <thead>
        <tr>
          <th class="label">{{ 'size:' | escape | downcase }}</th>
          <th>{{ 'XXS' | escape }}</th>
          <th>{{ 'XS' | escape }}</th>
          <th>{{ 'S' | escape }}</th>
          <th>{{ 'M' | escape }}</th>
          <th>{{ 'L' | escape }}</th>
        </tr>
      </thead>
    <tbody>
      {% if product.metafields.sizechart.size_chart_dress.value.bust_xxs != blank
            or product.metafields.sizechart.size_chart_dress.value.bust_xs != blank
            or product.metafields.sizechart.size_chart_dress.value.bust_s != blank
            or product.metafields.sizechart.size_chart_dress.value.bust_m != blank
            or product.metafields.sizechart.size_chart_dress.value.bust_l != blank %}
        <tr id="bust">
          <td class="label">{{ 'bust:' | escape | downcase }}</td>
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_xxs }}</td>
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_xs }}</td>
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_s }}</td>
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_m }}</td>
            <td>{{ product.metafields.sizechart.size_chart_dress.value.bust_l }}</td>
        </tr>
      {% endif %}

      {% if product.metafields.sizechart.size_chart_dress.value.waist_xxs != blank
            or product.metafields.sizechart.size_chart_dress.value.waist_xs != blank
            or product.metafields.sizechart.size_chart_dress.value.waist_s != blank
            or product.metafields.sizechart.size_chart_dress.value.waist_m != blank
            or product.metafields.sizechart.size_chart_dress.value.waist_l != blank %}
        <tr id="waist">
          <td class="label">{{ 'waist:' | escape | downcase }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_xxs }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_xs }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_s }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_m }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.waist_l }}</td>
        </tr>
      {% endif %}

      {% if product.metafields.sizechart.size_chart_dress.value.hips_xxs != blank 
            or product.metafields.sizechart.size_chart_dress.value.hips_xs != blank 
            or product.metafields.sizechart.size_chart_dress.value.hips_s != blank 
            or product.metafields.sizechart.size_chart_dress.value.hips_m != blank 
            or product.metafields.sizechart.size_chart_dress.value.hips_l != blank %}
        <tr id="hips">
          <td class="label">{{ 'hips:' | escape | downcase }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_xxs }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_xs }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_s }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_m }}</td>
          <td>{{ product.metafields.sizechart.size_chart_dress.value.hips_l }}</td>
        </tr>
      {% endif %}

    </tbody>
  </table>