<div class="marquee-holder">
  <div class="wrapper">
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
    <div class="box">&nbsp;{{ section.settings.marquee_content }}</div>
  </div>
</div>





{% schema %}
{
  "name": "Marquee",
  "tag": "div",
  "class": "marquee-container",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

        {
          "type": "number",
          "id": "marquee_speed",
          "label": "Marquee Speed",
          "default": 1
        }

  ],
  "presets": [
    {
      "name": "Marquee"
    }
  ]
}
{% endschema %}
