<section class="homepage-hero" onmousemove="coordinate(event)">

  <style>
    .homepage-hero {
      background: url('{{ section.settings.hero_background_desktop | image_url }}');
      background-size: cover;
      background-position: center center;
    }

    @media screen and (max-width: 767px) {
      .homepage-hero {
        background: url('{{ section.settings.hero_background_mobile | image_url: width: 700 }}');
      }  
    }
  </style>

  <div id="hero-wrapper" class="hero-wrapper">
    <div class="left">

      <div class="hero-logo">
        <img src="{{ 'logo.svg' | asset_url }}" alt="Siberia" />
      </div>

      <ul>
        <li>
          <span class="scroll-to-link hero-link" data-component="shop-component">
            {{ 'Shop' | escape }}
          </span>
        </li>
        <li>
          <span class="scroll-to-link hero-link" data-component="about-component">
            {{ 'About' | escape }}
          </span>
        </li>
        <li>
          <span class="hero-link" onclick="window.location='/pages/contact';">
            {{ 'Contact' | escape }}
          </span>
        </li>
        <li>
          <span
            class="hero-link"
            onclick="window.location='/blogs/lookbook';">
            {{ 'Lookbook' | escape }}
          </span>
        </li>
        <li>
          <span class="hero-link newsletter-opener">
            {{ 'Newsletter' | escape }}
          </span>
        </li>
      </ul>

    </div>

    <div class="right movable-elements-wrapper">

      {% comment %}
      To Do: if statements for wether videos or gifs
      {% endcomment %}

      <div
        id="top-left"
        data-value="4"
        class="top-left floating-media element movable">
          <img src="{{ section.settings.hero_top_left | image_url: width: 300 }}" alt="" />
          {% comment %}  
            {{ section.settings.hero_top_left | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
          {% endcomment %}
      </div>

      <div
        id="top-right"
        data-value="1"
        class="top-right floating-media element movable">
          <img src="{{ section.settings.hero_top_right | image_url: width: 300 }}" alt="" />
          {% comment %}  
            {{ section.settings.hero_top_right | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
          {% endcomment %}
      </div>

      <div
        id="bottom-left"
        data-value="3"
        class="bottom-left floating-media element movable">
        <img src="{{ section.settings.hero_bottom_left | image_url: width: 300 }}" alt="" />
      </div>

      <div
        id="bottom-right"
        data-value="2"
        class="bottom-right floating-media element movable">
        <img src="{{ section.settings.hero_bottom_right | image_url: width: 300 }}" alt="" />
      </div>

      <div id="cloud" class="cloud-holder">
        <img src="{{ section.settings.hero_cloud | image_url }}" alt="" />
      </div>

    </div>

  </div>

  {% render 'privacy-footer' %}
  
  {% if settings.marquee_visible == true %}
    {% render 'throne-marquee' %}
  {% endif %}
  
</section>

<script>
  (function($) {

    // Theme Color
    $(document).ready(function() {
      $('meta[name="theme-color"]').attr('content', '#B6FFFE');
    });

    // ----------------------
    // Plus Menu
    // -----------------------
    function hidePlus() {
      document.querySelector('.plus').style.display = 'none';
    }
    function showPlus() {
      document.querySelector('.plus').style.display = 'block';
    }

    // ----------------------
    // Logo
    // -----------------------
    function hideLogo() {
      const mediaQuery = window.matchMedia('(max-width: 767px)');
      if (! mediaQuery.matches) {
        document.querySelector('.logo a').style.display = 'none';
      }
      
    }
    function showLogo() {
      document.querySelector('.logo a').style.display = 'block';
    }
    

    // Scroll Function
    window.addEventListener("scroll", () => {

      // Theme Bar
      if (window.scrollY == 0) {
        $('meta[name="theme-color"]').attr('content', '#000000');
      }

      if (window.scrollY > 100) { 
        
        // Hide Marquee
        //gsap.to(".marquee-holder", {
        //  y: 100,
        //  delay: 0.1,
        //  duration: 0.2,
        //  onComplete: () => {
        //    gsap.to(".marquee-holder", {display: "none"});
        //  }
        //});

        $('meta[name="theme-color"]').attr('content', '#ffffff');

        showPlus();
        showLogo();

      } else { 

        // Show Marquee
        //gsap.to(".marquee-holder", {
        //  y: 0,
        //  delay: 0.6,
        //  duration: 0.2,
        //  onComplete: () => {
        //    gsap.to(".marquee-holder", {display: "block"});
        //  }
        //});

        hidePlus();
        hideLogo();
      }

    });



  })(jQuery);
</script>

<script src="{{ 'gsap-draggable.min.js' | asset_url }}"></script>
<script>
  function hidePlus() {
    document.querySelector('.plus').style.display = 'none';
  }
  function hideLogo() {
    document.querySelector('.logo a').style.display = 'none';
  }
  hidePlus();

  const mediaQuery = window.matchMedia('(max-width: 767px)');

  // Throttling
  if (! mediaQuery.matches) {
    hideLogo();

    function coordinate(event) {
      var x = event.clientX;
      var y = event.clientY;

      // document.getElementById("X").value=x;
      // document.getElementById("Y").value=y;

      var timesPerSecond = 5;
      var wait = false;

      var topLeft = document.getElementById("top-left");
      var topRight = document.getElementById("top-right");
      var bottomLeft = document.getElementById("bottom-left");
      var bottomRight = document.getElementById("bottom-right");
      var cloud = document.getElementById("cloud");


      if (! wait) {
        topRight.style.transform = 'translate(' + x / 40 + 'px, ' + y / 36 + 'px)';
        topLeft.style.transform = 'translate(' + (- x / 40) + 'px, ' + (- y / 38) + 'px)';
        bottomRight.style.transform = 'translate(' + x / 52 + 'px, ' + y / 52 + 'px)';
        bottomLeft.style.transform = 'translate(' + (- x / 62) + 'px, ' + (- y / 62) + 'px)';
        cloud.style.transform = 'translate(' + (- x / 82) + 'px, ' + (- y / 82) + 'px)';
        wait = true;
        setTimeout(function() {
          wait = false;
        }, 1000 / timesPerSecond);
      }

    }

  }
</script>

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_background_desktop",
        "label": "Background (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "hero_background_mobile",
        "label": "Background (Mobile)"
      },
      {
        "type": "image_picker",
        "id": "hero_cloud",
        "label": "Cloud"
      },
      {
        "type": "image_picker",
        "id": "hero_top_left",
        "label": "Floating Video (Top Left)"
      }, {
        "type": "image_picker",
        "id": "hero_top_right",
        "label": "Floating Video (Top Right)"
      }, {
        "type": "image_picker",
        "id": "hero_bottom_left",
        "label": "Floating Image (Bottom Left)"
      }, {
        "type": "image_picker",
        "id": "hero_bottom_right",
        "label": "Floating Image (Bottom Right)"
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}