<section class="homepage-hero">

  <div class="hero-image hero-image-desktop" style="background: url({{ section.settings.hero_background_desktop | image_url }}); background-size: cover; background-position: center center;">&nbsp;</div>
  <div class="hero-image hero-image-mobile" style="background: url({{ section.settings.hero_background_mobile | image_url: width: 700 }}); background-size: cover; background-position: center center;">&nbsp;</div>

  <div class="hero-wrapper">
    <div class="left">

        <div class="hero-logo">
          <img src="{{ 'logo.svg' | asset_url }}" alt="Siberia" />
        </div>
    
        <ul>
          <li>
            <span class="scroll-to-link" data-component="shop-component">
              {{ 'Shop' | escape }}
            </span>
          </li>
          <li>
            <span class="scroll-to-link" data-component="about-component">
              {{ 'About' | escape }}
            </span>
          </li>
          <li>
            <span class="scroll-to-link" data-component="contact-component">
              {{ 'Contact' | escape }}
            </span>
          </li>
          <li>
            <span class="scroll-to-link" data-component="lookbook-component">
              {{ 'Lookbook' | escape }}
            </span>
          </li>
          <li></li>
        </ul>

    </div>

    <div class="right">
      
      <div class="top-left floating-media">
        {{ section.settings.hero_top_left | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
      </div>

      <div class="top-right floating-media">
        {{ section.settings.hero_top_right | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
      </div>

      <div class="bottom-left floating-media">
        <img src="{{ section.settings.hero_bottom_left | image_url: width: 700 }}" alt="" />
      </div>
      
      <div class="bottom-right floating-media">
        <img src="{{ section.settings.hero_bottom_right | image_url: width: 700 }}" alt="" />
      </div>

      <div class="cloud-holder">
        {{ section.settings.hero_cloud | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
      </div>

    </div>

  </div>
</section>
<script>

  function hidePlus() {
    document.querySelector('.plus').style.display = 'none';
  }

  function hideLogo() {
    document.querySelector('.logo a').style.display = 'none';
  }

  hidePlus();
  hideLogo();

</script>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_background_desktop",
      "label": "Background (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "hero_background_mobile",
      "label": "Background (Mobile)"
    },
    {
      "type": "video",
      "id": "hero_cloud",
      "label": "Cloud"
    },
    {
      "type": "video",
      "id": "hero_top_left",
      "label": "Floating Video (Top Left)"
    },
    {
      "type": "video",
      "id": "hero_top_right",
      "label": "Floating Video (Top Right)"
    },
    {
      "type": "image_picker",
      "id": "hero_bottom_left",
      "label": "Floating Image (Bottom Left)"
    },
    {
      "type": "image_picker",
      "id": "hero_bottom_right",
      "label": "Floating Image (Bottom Right)"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
