<section class="homepage-hero">
  {% style %}
    .hero-background {
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: auto;
      object-fit: cover;
      object-position: center center;
    }

    .hero-background--desktop {
      display: block;
      height: 100%;
      min-width: 100%;
    }
    .hero-background--mobile {
      display: none;
      min-height: 100%;
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      .hero-background--desktop {
        display: none;
      }
      .hero-background--mobile {
        display: block;
      }
    }
  {% endstyle %}

  <img class="hero-background--desktop hero-background" src="{{ section.settings.hero_background_desktop | image_url: width: 1200 }}" rel="preload" />
  <img class="hero-background--mobile hero-background" src="{{ section.settings.hero_background_mobile | image_url: width: 600 }}" rel="preload" />

  <div id="hero-wrapper" class="hero-wrapper">
    <div class="left">

      <div class="hero-logo">
        {% if section.settings.hero_logo_large %}
          {% comment %}<img id="user-hero-logo" style="width: {{ section.settings.hero_logo_width | default: '' }}px;" src="{{ section.settings.hero_logo_large | image_url: section.settings.hero_logo_width }}" alt="{{ shop.name }}" />{% endcomment %}
          <svg id="user-hero-logo" style="width: {{ section.settings.hero_logo_width | default: '' }}px;" src="{{ section.settings.hero_logo_large | image_url: section.settings.hero_logo_width }}"></svg>
        {% else %}
          <img id="default-hero-logo" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" />
        {% endif %}
      </div>

      <ul>
        <li>
          <span style="color: {{ section.settings.hero_text_color }} !important;" class="scroll-to-link hero-link" data-component="shop-component">
            {{ 'Shop' | escape }}
          </span>
        </li>
        <li>
          <span 
            style="color: {{ section.settings.hero_text_color }} !important;" 
            class="scroll-to-link hero-link"
            onclick="setTimeout(function() { window.location='/pages/about'; }, 400)">
            {{ 'About' | escape }}
          </span>
        </li>
        <li>
          <span
            style="color: {{ section.settings.hero_text_color }} !important;" 
            class="scroll-to-link hero-link"
            onclick="setTimeout(function() { window.location='/blogs/lookbook'; }, 400)">
            {{ 'Lookbook' | escape }}
          </span>
        </li>
        <li>
          <span 
            style="color: {{ section.settings.hero_text_color }} !important;" 
            class="hero-link newsletter-opener">
            {{ 'Newsletter' | escape }}
          </span>
        </li>
      </ul>

    </div>

    <div class="right movable-elements-wrapper">

      {% comment %}
      To Do: if statements for wether videos or gifs
      {% endcomment %}

      <div
        id="top-left"
        data-value="4"
        class="top-left floating-media element movable">
          <img src="{{ section.settings.hero_top_left | image_url: width: 180 }}" alt="" />
          {% comment %}  
            {{ section.settings.hero_top_left | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
          {% endcomment %}
      </div>

      <div
        id="top-right"
        data-value="1"
        class="top-right floating-media element movable">
          <img src="{{ section.settings.hero_top_right | image_url: width: 190 }}" alt="" />
          {% comment %}  
            {{ section.settings.hero_top_right | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
          {% endcomment %}
      </div>

      <div
        id="bottom-left"
        data-value="3"
        class="bottom-left floating-media element movable">
        <img src="{{ section.settings.hero_bottom_left | image_url: width: 180 }}" alt="" />
      </div>

      <div
        id="bottom-right"
        data-value="2"
        class="bottom-right floating-media element movable">
        <img src="{{ section.settings.hero_bottom_right | image_url: width: 100 }}" alt="" />
      </div>

      <div id="cloud" class="cloud-holder">
        <img src="{{ section.settings.hero_cloud | image_url }}" alt="" />
      </div>

    </div>

  </div>

  {% render 'privacy-footer', color: section.settings.hero_text_color %}
  
  {% if settings.marquee_visible == true %}
    {% render 'throne-marquee' %}
  {% endif %}
  
</section>

{% comment %}
<script src="{{ 'gsap-draggable.min.js' | asset_url }}"></script>
{% endcomment %}
<script>
  function hidePlusLoad() {
    document.querySelector('.plus').style.display = 'none';
  }

  function hideLogoLoad() {
    document.querySelector('.logo').style.display = 'none';
  }

  hidePlusLoad();
  const mediaQuery = window.matchMedia('(max-width: 767px)');
  if (! mediaQuery.matches) {
    hideLogoLoad();
  }
</script>

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "section hero-section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "hero_text_color",
        "label": "Text Color",
        "info": "Adjust here once adding a new background image."
      },
      {
        "type": "image_picker",
        "id": "hero_logo_large",
        "label": "Large Logo",
        "info": "The large logo presented on the Hero, above the links."
      },
      {
        "type": "image_picker",
        "id": "hero_background_desktop",
        "label": "Background (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "hero_background_mobile",
        "label": "Background (Mobile)"
      },
      {
        "type": "image_picker",
        "id": "hero_cloud",
        "label": "Cloud"
      },
      {
        "type": "image_picker",
        "id": "hero_top_left",
        "label": "Floating Video (Top Left)"
      }, {
        "type": "image_picker",
        "id": "hero_top_right",
        "label": "Floating Video (Top Right)"
      }, {
        "type": "image_picker",
        "id": "hero_bottom_left",
        "label": "Floating Image (Bottom Left)"
      }, {
        "type": "image_picker",
        "id": "hero_bottom_right",
        "label": "Floating Image (Bottom Right)"
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}