{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

  <style>
    .logo > a { display: block; }
  </style>

  <section id="MainProduct-{{ section.id }}" class="section-{{ section.id }}-padding" data-section="{{ section.id }}">

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}

  <div class="single-product">
    <div class="single-product-wrapper">

      <div class="left-side">

        <div class="swiper">
          <div class="swiper-wrapper">
            {% for image in product.media %}

              <div class="swiper-slide">
                <img src="{{ image | image_url: width: 1200 }}" alt="{{ image.alt | escape }}" />
              </div>

            {% endfor %}
          </div>

          <div class="swiper-controls">
            <div class="swiper-pagination"></div>
          </div>

        </div>

      </div>

      <div class="right-side">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        <div class="product-title desktop">
          <h1>
            {{ product.title }} 
            {% if product.metafields.product.short_description != blank %}
              {{ product.metafields.product.short_description | prepend: ' / ' }}
            {% endif %} 
            
            {% render 'indicators' data: product %}
          </h1>
        </div>

        <div class="actions-header">

          <div class="price-holder">
            {% if product.selected_or_first_available_variant != blank %}
              <span class="variant-price">
                {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros | remove: '$' }}
              </span>
            {% else %}
              <span class="regular-price">
                {{ product.price | money_without_trailing_zeros | remove: '$' }} <span>{{ shop.currency }}</span>
              </span>
            {% endif %}
          </div>

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}

              {% render block %}

              {%- when 'variant_picker' -%}
                <div class="size-holder">
                  {% if product.metafields.product.preorder != true %}
                    {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
                  {% endif %}
                </div>

              {%- when 'buy_buttons' -%}
                <div class="button-holder">
                  {% if product.metafields.product.preorder == true %}
                    <span class="preorder-button" style="text-transform: lowercase;">{{ 'sign up' | escape }}</span>
                  {% else %}
                    {%- render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true -%}
                  {% endif %}
                </div>

            {%- endcase -%}
          {%- endfor -%}
        </div>

        <div class="product-title mobile">
          <h1>{{ product.title }} {% if product.metafields.product.short_description != blank %}{{ product.metafields.product.short_description | prepend: ' / ' }}{% endif %} <span class="sold-out-indicator--mobile"></span></h1>
          
          {% render 'indicators' data: product %}
        </div>

        <div class="product-description">
          <span class="description-title">{{ 'about' | escape }}</span>
          <p>{{ product.description }}</p>
        </div>

        <div class="size-chart">
            {% if product.metafields.sizechart.size_chart_dress != blank %}
              <details>
                <summary>{{ settings.size_chart_title | default: "Size Chart" }}</summary>
                {% render 'throne--sizechart-dress' %}
              </details>
            {% elsif product.metafields.sizechart.size_chart_bottoms != blank %}
              <details>
                <summary>{{ settings.size_chart_title | default: "Size Chart" }}</summary>
                {% render 'throne--sizechart-pants' %}
              </details>
            {% elsif product.metafields.sizechart.size_chart_tops != blank %}
              <details>
                <summary>{{ settings.size_chart_title | default: "Size Chart" }}</summary>
                {% render 'throne--sizechart-tops' %}
              </details>
            {% endif %}
        </div>
      
        

        <div class="product-pagination new">
          <a class="back-to-all" href="{{ '/collections/all' | escape }}" title="Back to all">
          {{ 'BACK TO ALL' | escape }}
          </a>

          {% for collect in product.collections %}

            {{ collect.handle }}
            {% case collect.handle %}
  
              {% when 'all' %}
                {% assign arr = collect.products | map: 'url' %}
                <ul>
                  {% for prod in collect.products %}
                    <li>
                    {% assign next = '' %}
                    {% if product.title == prod.title %}
                      {% assign plusOne = forloop.index0 | plus: 1 %}
                      {% if plusOne > forloop.length %}
                        {% assign next = 0 %}
                      {% else %}
                        {% assign next = forloop.index0 | plus: 1 %}
                      {% endif %}
                      
                      <a class="next-product" href="{{ arr[next] }}" title="Next">next</a>
                      
                    {% endif %}
                    </li>
  
                  {% endfor %}
                </ul>
            {% endcase %}
          {% endfor %}

        </div>

      </div>

    </div>
  </div>

  {% render 'throne--sign-up-modal' data: product %}

  {% comment %}
  Swiper
  {% endcomment %}
  <script>
    const swiper = new Swiper('.swiper', {
      direction: 'horizontal',
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      }
    });
  </script>

  {% comment %}
  Shopify Script
  {% endcomment %}
  <script>
    /* This is a shopify script */
    document.addEventListener('DOMContentLoaded', function() {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return msie > 0 || trident > 0;
      }

      if (! isIE()) 
        return;

      const hiddenInput = document.querySelector('#{{ product_form_id }}input[name="id"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }} "]') || document.querySelector('variant-selects[data-section="{{ section.id }} "]');
      noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
        hiddenInput.value = event.currentTarget.value;
      });

    });
  </script>

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  {% comment %}
  SEO
  {% endcomment %}
  <script type="application/ld+json">
  {
  "@context": "http://schema.org/",
                    "@type": "Product",
                    "name": {{ product.title | json }},
  "url": {{ request.origin | append: product.url | json }},
  {% if seo_media -%}
    "image": [
    {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
    ],
  {%- endif %}
  "description": {{ product.description | strip_html | json }},
  {% if product.selected_or_first_available_variant.sku != blank -%}
    "sku": {{ product.selected_or_first_available_variant.sku | json }},
  {%- endif %}
  "brand": {
  "@type": "Brand",
                      "name": {{ product.vendor | json }}
  },
  "offers": [
  {%- for variant in product.variants -%}
    {
    "@type" : "Offer",
    {%- if variant.sku != blank -%}
      "sku": {{ variant.sku | json }},
    {%- endif -%}
    {%- if variant.barcode.size == 12 -%}
      "gtin12": {{ variant.barcode }},
    {%- endif -%}
    {%- if variant.barcode.size == 13 -%}
      "gtin13": {{ variant.barcode }},
    {%- endif -%}
    {%- if variant.barcode.size == 14 -%}
      "gtin14": {{ variant.barcode }},
    {%- endif -%}
    "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
    "price" : {{ variant.price | divided_by: 100.00 | json }},
    "priceCurrency" : {{ cart.currency.iso_code | json }},
    "url" : {{ request.origin | append: variant.url | json }}
    }{% unless forloop.last %},{% endunless %}
  {%- endfor -%}
  ]
  }
  </script>

</section>


{% schema %}
  {
    "name": "t:sections.main-product.name",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "price",
        "name": "t:sections.main-product.blocks.price.name",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "t:sections.main-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "picker_type",
            "options": [
              {
                "value": "dropdown",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
              }, {
                "value": "button",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
              }
            ],
            "default": "button",
            "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
          }
        ]
      },
      {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "default": true,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
          }, {
            "type": "checkbox",
            "id": "show_gift_card_recipient",
            "default": true,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
          }
        ]
      }, {
        "type": "share",
        "name": "t:sections.main-product.blocks.share.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "share_label",
            "label": "t:sections.main-product.blocks.share.settings.text.label",
            "default": "Share"
          }, {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
          }, {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.share.settings.title_info.content"
          }
        ]
      }, {
        "type": "custom_liquid",
        "name": "t:sections.main-product.blocks.custom_liquid.name",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
            "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_sticky_info",
        "default": true,
        "label": "t:sections.main-product.settings.enable_sticky_info.label"
      }, {
        "type": "select",
        "id": "image_zoom",
        "options": [
          {
            "value": "lightbox",
            "label": "t:sections.main-product.settings.image_zoom.options__1.label"
          }, {
            "value": "hover",
            "label": "t:sections.main-product.settings.image_zoom.options__2.label"
          }, {
            "value": "none",
            "label": "t:sections.main-product.settings.image_zoom.options__3.label"
          }
        ],
        "default": "lightbox",
        "label": "t:sections.main-product.settings.image_zoom.label",
        "info": "t:sections.main-product.settings.image_zoom.info"
      }, {
        "type": "checkbox",
        "id": "hide_variants",
        "default": false,
        "label": "t:sections.main-product.settings.hide_variants.label"
      }
    ]
  }
{% endschema %}






<script>
  var vals = JSON.parse('{{ product.metafields.sizechart.size_chart_dress.value | json }}', (key, value) => {

    var k = key;
    var v = value;
    console.log('key: ' + key);
    console.log('value: ' + value);
  });
</script>