<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<div class="cart-overlay my-floating-cart" data-displayed="true">

  <div class="cart-nav">

    <div class="cart-logo">
      {% for collection in collections %}
        {% case collection.handle %}
          {% when settings.featured_collection %}
            {% assign collection_url = collection.url %}
        {% endcase %}
      {% endfor %}
      {% if settings.navbar_logo_alt %}
        <a class="user-logo" href="{{ collection_url | default: '/collections/all' }}" title="{{ shop.name }}">
          <img id="user-logo-alt" src="{{ settings.navbar_logo_alt | image_url: width: 122 }}" alt="{{ shop.name }}" />
        </a>
      {% else %}
        <a class="default-logo" href="{{ collection_url | default: '/collections/all' }}" title="{{ shop.name }}">
          {% render 'logo-italic' %}
        </a>
      {% endif %}
    </div>

    <div class="cart-hamburger" data-ajax-cart-toggle-class-button="js-my-cart-open | remove">
      {% if settings.cart_icon %}
        <img id="user-icon-cart" src="{{ settings.cart_icon | image_url: width: 60 }}" alt="{{ 'Cart' | escape }}">
      {% else %}
        <img id="default-icon-cart" src="{{ 'cart.png' | asset_url }}" alt="{{ 'Cart' | escape }}">
      {% endif %}
    </div>

  </div>

  <div class="cart-header">
    <div>
      <h1>{{ 'cart' | escape }}</h1>
    </div>
    <span id="cart-counter" class="cart-counter">
      {{ '(' | escape }}<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>{{ ')' | escape }}
    </span>
  </div>

  <div class="cart-overlay-wrapper">

    <div class="cart">
      {% comment %}
        ITEMS DESKTOP
      {% endcomment %}
      <cart-drawer-items class="cart-items-holder desktop {% if cart == empty %}is-empty{% endif %}"> 

        <form id="add-to-cart-form" action="{{ routes.cart_url }}" method="post">

          <ul class="cart-items" data-ajax-cart-section>
            {%- for item in cart.items -%}

              {% if item.quantity > 0 %}
                <li id="item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                  <div class="cart-item-wrapper">

                    {% comment %} 
                      Image
                    {% endcomment %}
                    <div class="image">
                      {% if item.image %}
                        {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                        <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"></a>
                        <img
                          class="cart-item__image"
                          src="{{ item.image | image_url: width: 300 }}"
                          alt="{{ item.image.alt | escape }}"
                          loading="lazy"
                          width="150"
                          height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}" />
                      {% endif %}
                    </div>

                    {% comment %} 
                      Product Title
                    {% endcomment %}
                    <div class="product-title">
                      <a href="{{ item.url }}">
                        <span class="product">{{ item.product.title | downcase |escape }}</span>
                      </a>
                    </div>

                    {% comment %} 
                      Short Description
                    {% endcomment %}
                    <div class="product-title">
                      <a href="{{ item.url }}">
                        <span class="short-description">{{ item.product.metafields.product.short_description | downcase }}</span>
                      </a>
                    </div>

                    {% assign item_index = forloop.index %}
                    
                    {% comment %} 
                      Quantity
                    {% endcomment %}
                    <div class="quantity" role="cell">
                      <span class="label">quantity: </span>
                      <div class="quantity-wrapper">

                          <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}" > 
                              {{ '-' | escape }} 
                          </a>
              
                          <!-- data-ajax-cart-quantity-input ajaxifies the line item quantity input -->
                          <input data-ajax-cart-quantity-input="{{ item_index }}"
                              name="updates[]" 
                              value="{{ item.quantity }}" 
                              type="number" />
          
                          <!-- data-ajax-cart-request-button ajaxifies the "Plus one" button -->
                          <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}"> 
                              {{ '+' | escape }}
                          </a>

                      </div>
                    </div>

                    {% comment %} 
                      Size
                    {% endcomment %}
                    <div class="variants size">
                      {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != null -%}

                        {%- if item.product.has_only_default_variant == false -%}
                          {%- for option in item.options_with_values -%}
                            {% case option.name %}

                              {% when 'Size' %}
                                <span class="product-option">
                                  {{ option.value | downcase }}
                                </span>

                            {% endcase %}
                          {%- endfor -%}
                        {%- endif -%}

                      {%- endif -%}
                    </div>

                    <div class="product-price">
                      {{ item.final_line_price | money_without_trailing_zeros | remove: '$' }}
                    </div>

                    <div class="delete">
                      <a data-ajax-cart-request-button href="{{ item.url_to_remove }}" rel="{{ item.id }}">
                        {{ 'delete' | escape }}
                      </a>
                    </div>

                  </div>

                </li>
              {% endif %}
          
            {%- endfor -%}
          </ul>

        </form>
      </cart-drawer-items>

      {% comment %}
        ITEMS MOBILE 
      {% endcomment %}
      <div class="cart-items-holder mobile">
        <form id="add-to-cart-form" action="{{ routes.cart_url }}" method="post" data-ajax-cart-section>

          {%- if cart != empty -%}

            <ul class="cart-items" data-ajax-cart-section-scroll>
              {%- for item in cart.items -%}

                <li id="item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                  <div class="cart-item-wrapper">

                    <div class="image">
                      {% if item.image %}
                        {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                        <a
                          href="{{ item.url }}"
                          class="cart-item__link"
                          tabindex="-1"
                          aria-hidden="true"></a>
                        <img
                          class="cart-item__image"
                          src="{{ item.image | image_url: width: 100 }}"
                          alt="{{ item.image.alt | escape }}"
                          loading="lazy"
                          width="150"
                          height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}">
                      {% endif %}
                    </div>

                    <div class="data">

                      <div class="product-title">
                        <a href="{{ item.url }}">
                          <span class="product">{{ item.product.title | downcase | escape }}</span>{{ ' / ' | escape }}
                          <span class="short-description">{{ item.product.metafields.product.short_description | downcase }}</span>
                        </a>
                      </div>

                      <div class="variants size">
                        {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != null -%}

                          {%- if item.product.has_only_default_variant == false -%}
                            {%- for option in item.options_with_values -%}
                              {% case option.name %}

                                {% when 'Size' %}
                                  <span class="product-option">
                                    {{ 'size: ' | escape | downcase }} {{ option.value | downcase }}
                                  </span>

                              {% endcase %}
                            {%- endfor -%}
                          {%- endif -%}

                        {%- endif -%}
                      </div>

                      <div class="quantity" role="cell">
                        <div class="quantity-wrapper">

                          <span>{{ 'quantity: ' | downcase | escape }}</span>

                          <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}" > 
                              {{ '-' | escape }} 
                          </a>
              
                          <!-- data-ajax-cart-quantity-input ajaxifies the line item quantity input -->
                          <input data-ajax-cart-quantity-input="{{ item_index }}"
                              name="updates[]" 
                              value="{{ item.quantity }}" 
                              type="number" />
          
                          <!-- data-ajax-cart-request-button ajaxifies the "Plus one" button -->
                          <a data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}"> 
                              {{ '+' | escape }}
                          </a>

                        </div>
                      </div>

                      <div class="product-price">
                        {{ item.final_line_price | money_without_trailing_zeros | remove: '$' }}
                      </div>

                    </div>

                    <div class="actions">
                      <div class="delete">
                        <a data-ajax-cart-request-button href="{{ item.url_to_remove }}" rel="{{ item.id }}">
                          {{ 'delete' | downcase | escape }}
                        </a>
                      </div>
                    </div>

                  </div>

                </li>
                
              {%- endfor -%}
            </ul>

          {%- endif -%}

          <div class="accessibility">
            <p
              id="CartDrawer-LiveRegionText"
              class="visually-hidden"
              role="status"></p>
            <p
              id="CartDrawer-LineItemStatus"
              class="visually-hidden"
              aria-hidden="true"
              role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>

          <div class="ajax-messages">
            <div data-ajax-cart-messages="{{ item.key }}"></div>
          </div>

          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
      </div>

      {% comment %} 
        SUBTOTAL
      {% endcomment %}
      <div class="subtotal">
        <div class="subtotal-wrapper">
          <div class="left">
              <span>{{ 'Subtotal' | escape }}</span>
          </div>
          <div class="right">
              <span class="subtotal-price">
                  {{ cart.total_price | money_without_trailing_zeros | remove: '$' }}
              </span>
              <span>{{ shop.currency }}</span>
          </div>
        </div>
      </div>

      {% comment %} 
        BUTTONS
      {% endcomment %}
      <div class="buttons" {{ block.shopify_attributes }}>
        {% comment %}  
        <noscript>
          <button
            type="submit"
            class="update-cart"
            form="CartDrawer-Form">
            {{ 'sections.cart.update' | t }}
          </button>
        </noscript>
        {% endcomment %}
        <a
          href="{{ settings.featured_collection.url | default: '/collections/all' }}"
          type="submit"
          name="checkout"
          form="CartDrawer-Form"
          class="ming">
          {{ 'continue shopping' | escape | downcase }}
        </a>

        <a
          href="/checkout"
          type="submit"
          class="checkout-button"
          name="checkout"
          form="CartDrawer-Form">
          {{ 'checkout' | escape | downcase }} {{ '(' | escape }}<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>{{ ')' | escape }}
        </a>
      </div>
    </div>

    <div class="empty-cart">
      <div class="title">
        <span>{{ 'your cart is empty' | escape | downcase }}</span>
      </div>
      <div class="action">
        {% for collection in collections %}
          {% case collection.handle %}
            {% when settings.featured_collection %}
              <a class="ming" href="{{ collection.url | default: '/collections/all' }}" title="{{ 'Continue shopping' | escape }}">
                {{ 'continue shopping' | escape | downcase }}
              </a>
          {% endcase %}
        {% endfor %}
      </div>
    </div>

    {% comment %} {% render 'credit-cards' %} {% endcomment %}

    <div class="cart-disclaimer">
      <p>{{ 'For further details please consult the ' | escape | downcase }}<a href="/pages/return-policy" title="Return Policy">{{ 'Return Policy' | escape | downcase }}</a>
      </p>
    </div>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (! isIE()) 
      return;
    
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>


