<section class="about-component page {% if template.name == 'index' %} page-component{% endif %}">
  
  {% comment %} DESKTOP {% endcomment %}
  <div class="about-wrapper desktop">

    <div class="left">

      <div class="about-title">
        <h2>{{ section.settings.about_page_title }}</h2>
      </div>
  
      <div class="tagline">
        <span>{{ section.settings.about_page_tagline }}</span>
      </div>
  
      <div class="content">
        <p>{{ section.settings.about_page_body_top }}</p>
        <p>{{ section.settings.about_page_body_bottom }}</p>
      </div>

    </div>

    <div class="right">
      <div class="featured-image">
        <img src="{{ section.settings.about_page_featured_image | image_url }}" alt="" />
      </div>
      <div class="question-mark">
        {{ section.settings.about_page_question_mark.value }}
        <img src="{{ section.settings.about_page_question_mark | image_url }}" alt="" />
      </div>
    </div>

  </div>

  {% comment %} MOBILE {% endcomment %}
  <div class="about-wrapper mobile">

    <div class="left">
      <div class="about-title">
        <h2>{{ section.settings.about_page_title }}</h2>
      </div>

      <div class="tagline">
        <span>{{ section.settings.about_page_tagline }}</span>
      </div>

      <div class="content content-top">
        <p>{{ section.settings.about_page_body_top }}</p>
      </div>

    </div>

    <div class="right">
      <div class="featured-image">
        <img src="{{ section.settings.about_page_featured_image | image_url }}" alt="" />
      </div>
      <div class="question-mark">
        {{ section.settings.about_page_question_mark.value }}
        <img src="{{ section.settings.about_page_question_mark | image_url }}" alt="" />
      </div>
    </div>


    <div class="content content-bottom">
      <p>{{ section.settings.about_page_body_bottom }}</p>
    </div>

  </div>
</section>

{% schema %}
{
  "name": "About Page",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "about_page_featured_image",
      "label": "Featured Image"
    },
    {
      "type": "image_picker",
      "id": "about_page_question_mark",
      "label": "Question Mark"
    },
    {
        "type": "text",
        "id": "about_page_title",
        "label": "About Title",
        "default": "about"
    },
    {
      "type": "text",
      "id": "about_page_tagline",
      "label": "Tagline",
      "default": "based on a true story"
    },
    {
      "type": "textarea",
      "id": "about_page_body_top",
      "label": "Body Text (Upper)",
      "default": "siberia hills is an idea created in the himalayas during soviet union era by daf of siberia III, six hundred thousand troops siberia hills is an idea created in the himalayas during soviet union era by daf siberia III, six hundred thousand troops siberia hills is an idea created in the himalayas during soviet union era by daf siberia III, six hundred thousand troops siberia hills is an idea created in the himalayas during soviet union era by daf siberia III, six hundred thousand troops"
    },
    {
      "type": "textarea",
      "id": "about_page_body_bottom",
      "label": "Body Text (Lower)",
      "default": "siberia hills is an idea created in the himalayas during soviet union era by daf of siberia III, six hundred thousand troops siberia hills is an idea created in the himalayas during soviet union era by daf siberia III, six hundred thousand troops siberia hills is an idea created in the himalayas during soviet union era by daf siberia III, six hundred thousand troops siberia hills is an idea created in the himalayas during soviet union era by daf siberia III, six hundred thousand troops"
    }
  ],
  "presets": [
    {
      "name": "About Page",
      "settings": {}
    }
  ]
}
{% endschema %}
