<div class="blog-container lookbook-blog">
    <div class="lookbook-blog-wrapper">

        <section class="blog-post-collection">

            {% comment %} Selector {% endcomment %}
            <div class="lookbook-header">
                <div class="selector-holder">
                    <select class="resizeselect collection-selector">
                        {%- for post in blog.articles -%}
                            <option value="{{ post.id }}">{{ post.title }}</option>
                        {% endfor %}
                    </select>
                    <div class="icon">
                        {% render 'icon-caret' %}
                    </div>
                </div>
            </div>


            {%- for post in blog.articles -%}
                <article class="article-component" style="margin: 0 0 80px 0;" id="{{ post.id }}">
                    <div class="swiper-{{ forloop.index }} swiper">

                        <div class="swiper-header">
                            <span class="swiper-button-prev slider-nav-link">{{ '<' | escape }}</span>
                            <div class="swiper-pagination"></div>
                            <span class="swiper-button-next slider-nav-link">{{ '>' | escape }}</span>
                        </div>
                    
                        <div class="swiper-wrapper">
                            {% for entry in post.metafields.lookbook.entries.value %}
                                <div class="swiper-slide">
                                    <style>
                                        .lookbook-slide-img {
                                            background: url('{{ entry.image | image_url: width: 2200 }}'); 
                                            background-size: cover; 
                                            background-position: center center;
                                        }
                                        @media screen and (max-width: 767px) {
                                            .lookbook-slide-img {
                                                background: url('{{ entry.image_mobile | image_url: width: 2200 }}'); 
                                                background-size: cover; 
                                                background-position: center center;
                                            }
                                        }
                                    </style>
                                    <div class="image lookbook-slide-img">
                                        &nbsp;
                                    </div>
                                    <div class="caption">
                                        <div class="caption-wrapper">
                                            {{ entry.caption | metafield_tag }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </article>
            {% endfor %}

        </section>

    </div>
</div>

<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js'

    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: false,
        freeMode: true,
        spaceBetween: 30,
        slidesPerView: 'auto',
        resistance: false,
        
        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
            clickable: true
        },
        
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    });
</script>

<script>
    (function($) {
        $('.collection-selector').on('change', function() {
            var selectedValue = $(this).find('option:selected').attr('value');
            console.log('selected value: ' + selectedValue);

            $('.article-component').css('display', 'none');
            $('#'+selectedValue).css('display', 'block');
            
        });

    })(jQuery);
</script>